.show-case {
  display: flex;
  justify-content: center;
}

.player-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  border-right: 5px solid rgb(255, 228, 223);
}

.team-container {
  width: 30%;
  margin: 10px;
  text-align: center;
}
